## Exercises
1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.  
  
2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.
  
3. Write a regular expression to capture phone numbers. It should match all of the following:
  
4. Use regular expressions to convert the dates below to the standardized year-month-day format.
  
5. Write a regex to extract the various parts of these logfile lines:
  
6. Use this file to answer the following questions:
    - How many words have at least 3 vowels?
    - How many words have at least 3 vowels in a row?
    - How many words have at least 4 consonants in a row?
    - How many words start and end with the same letter?
    - How many words start and end with a vowel?
    - How many words contain the same letter 3 times in a row?
    - What other interesting patterns in words can you find?

In [13]:
import pandas as pd
import numpy as np
import re

---

Write a function named `is_vowel`.  
It should accept a string as input and use a regular expression to determine if the passed string is a vowel.  
While not explicity mentioned in the lesson, you can treat the result of `re.search` as a boolean value that indicates whether or not the regular expression matches the given string.

In [56]:
def is_vowel(letter):
    vowels_only = r'[aeiouAEIOU]'
    return bool(re.search(vowels_only, letter))

In [57]:
is_vowel("l")

False

Write a function named `is_valid_username` that accepts a string as input.  
A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character.  It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [76]:
def is_valid_username(string):
    valid_username = r'^[a-z]\w{1,32}'
    return bool(re.search(valid_username, string))

In [81]:
is_valid_username("a1234")

True

Write a regular expression to capture phone numbers. It should match all of the following:
- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [293]:
phone = "(210) 867 5309", "+1 210.867.5309","867-5309","210-867-5309"
phone = pd.DataFrame(phone, columns=["number"])
phone.number.str.extract(r'(?P<country_code>\d)?\D*?(?P<area_code>\d{3})?\D*?(?P<prefix>\d{3})\D*?(?P<line>\d{4})$',expand=True)

  country_code area_code prefix  line
0          NaN       210    867  5309
1            1       210    867  5309
2          NaN       NaN    867  5309
3          NaN       210    867  5309

Use regular expressions to convert the dates below to the standardized year-month-day format.

In [273]:
dates = "02/04/19","02/05/19","02/06/19","02/07/19","02/08/19","02/09/19","02/10/19"
dates = pd.DataFrame(dates,columns=["dates"])

In [274]:
dates

      dates
0  02/04/19
1  02/05/19
2  02/06/19
3  02/07/19
4  02/08/19
5  02/09/19
6  02/10/19

In [283]:
dates.dates.str.findall(r'(\d{2})\D(\d{2})\D(\d{2})')

0    [(02, 04, 19)]
1    [(02, 05, 19)]
2    [(02, 06, 19)]
3    [(02, 07, 19)]
4    [(02, 08, 19)]
5    [(02, 09, 19)]
6    [(02, 10, 19)]
Name: dates, dtype: object

In [292]:
dates.dates.sub(r'((\d{2})\D(\d{2})\D(\d{2})', r'\3/\1/\2', dates.dates)

TypeError: unsupported operand type(s) for -: 'str' and 'str'