In [1]:
import pyspark

import pandas as pd
import numpy as np

In [2]:
def generate_spark_df():
    np.random.seed(13)
    
    spark = pyspark.sql.SparkSession.builder.getOrCreate()
    
    pandas_dataframe = pd.DataFrame({"n": np.random.randn(20), "group": np.random.choice(list("xyz"), 20), "abool": np.random.choice([True, False], 20),})
    pandas_dataframe = spark.createDataFrame(pandas_dataframe)
    
    return pandas_dataframe

## Spark Dataframe Basics

- Use the starter code above to create a pandas dataframe.
- Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.
- Show the first 3 rows of the dataframe.
- Show the first 7 rows of the dataframe.
- View a summary of the data using .describe.
- Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.
- Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.
- Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.
- Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [4]:
df = generate_spark_df()

In [6]:
df.show(5) # Show the first 3 rows of the dataframe.
df.show(7) # Show the first 7 rows of the dataframe.

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [7]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [11]:
n_abool = df.select("n","abool").show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

In [12]:
group_abool = df.select("group","abool").show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [13]:
a_boolean_value = df.abool.alias("a_boolean_value")

In [14]:
group_abv = df.select("group",a_boolean_value).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [15]:
a_numeric_value = df.n.alias("a_numeric_value")

In [16]:
group_anv = df.select("group",a_numeric_value).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

## Column Manipulation

- Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df
- Use .select to add 4 to the n column. Show the results.
- Subtract 5 from the n column and view the results.
- Multiply the n column by 2. View the results along with the original numbers.
- Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.
- Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.
- What happens when you run the code below?

    `df.group + df.abool`
    
- What happens when you run the code below? What is the difference between this and the previous code sample?
    
    `df.select(df.group + df.abool)`
    
- Try adding various other columns together. What are the results of combining the different data types?

In [17]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

Use .select to add 4 to the n column. Show the results.

In [18]:
n = df.n +4

In [19]:
df.select(n,"group","abool").show(5)

+------------------+-----+-----+
|           (n + 4)|group|abool|
+------------------+-----+-----+
|3.2876093379494122|    z|false|
| 4.753766378659703|    x|false|
|3.9554969216619464|    z|false|
|  4.45181233874579|    y|false|
|5.3451017084510095|    z|false|
+------------------+-----+-----+
only showing top 5 rows

Subtract 5 from the n column and view the results.

In [20]:
n = df.n - 5

In [21]:
df.select(n, "group","abool").show(5)

+-------------------+-----+-----+
|            (n - 5)|group|abool|
+-------------------+-----+-----+
| -5.712390662050588|    z|false|
| -4.246233621340297|    x|false|
| -5.044503078338053|    z|false|
|  -4.54818766125421|    y|false|
|-3.6548982915489905|    z|false|
+-------------------+-----+-----+
only showing top 5 rows

Multiply the n column by 2. View the results along with the original numbers.

In [22]:
n_times_2 = df.n * 2

In [23]:
df.select('*', n_times_2.alias("n_times_2")).show(5)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|           n_times_2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|  -1.424781324101176|
|   0.753766378659703|    x|false|   1.507532757319406|
|-0.04450307833805...|    z|false|-0.08900615667610691|
| 0.45181233874578974|    y|false|  0.9036246774915795|
|  1.3451017084510097|    z|false|  2.6902034169020195|
+--------------------+-----+-----+--------------------+
only showing top 5 rows

Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [24]:
n_times_neg1 = df.n * -1

In [25]:
df.select("*", n_times_neg1.alias("n2")).show(4)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|
|   0.753766378659703|    x|false|  -0.753766378659703|
|-0.04450307833805...|    z|false|0.044503078338053455|
| 0.45181233874578974|    y|false|-0.45181233874578974|
+--------------------+-----+-----+--------------------+
only showing top 4 rows

Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [26]:
n_squared = df.n * df.n

In [27]:
df.select("*", n_times_neg1.alias("n2"), n_squared.alias("n3")).show(5)

+--------------------+-----+-----+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|
+--------------------+-----+-----+--------------------+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|    x|false|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|    y|false|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097|    z|false| -1.3451017084510097|  1.8092986060778251|
+--------------------+-----+-----+--------------------+--------------------+
only showing top 5 rows

What happens when you run the code below?

In [28]:
grp_plus_abool = df.group + df.abool

It creates a column object, which holds a transformation that adds group and abool columns

What happens when you run the code below? What is the difference between this and the previous code sample?

In [29]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

In [30]:
df.select(df.group + df.abool).show(5)

AnalysisException: "cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;;\n'Project [(cast(group#1 as double) + abool#2) AS (group + abool)#294]\n+- LogicalRDD [n#0, group#1, abool#2], false\n"

In [31]:
df.select(grp_plus_abool).show(5)

AnalysisException: "cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;;\n'Project [(cast(group#1 as double) + abool#2) AS (group + abool)#295]\n+- LogicalRDD [n#0, group#1, abool#2], false\n"

The above creates a Java error because we cannot perform arithmetic operations between a string and a boolean datatype.

Try adding various other columns together. What are the results of combining the different data types?

In [32]:
df.select("n"+"abool")

AnalysisException: "cannot resolve '`nabool`' given input columns: [n, group, abool];;\n'Project ['nabool]\n+- LogicalRDD [n#0, group#1, abool#2], false\n"

## Spark SQL

- Use the starter code above to re-create a spark dataframe.
- Turn your dataframe into a table that can be queried with spark SQL. Name the table my_df. Answer the rest of the questions in this section with a spark sql query (spark.sql) against my_df. After each step, view the first 7 records from the dataframe.
- Write a query that shows all of the columns from your dataframe.
- Write a query that shows just the n and abool columns from the dataframe.
- Write a query that shows just the n and group columns. Rename the group column to g.
- Write a query that selects n, and creates two new columns: n2, the original n values halved, and n3: the original n values minus 1.
- What happens if you make a SQL syntax error in your query?

In [33]:
df = generate_spark_df()

In [53]:
my_df = df.select("*")
my_df.createOrReplaceTempView("my_df")

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [54]:
my_df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

Write a query that shows all of the columns from your dataframe.

In [55]:
spark.sql("""
SELECT *
FROM my_df
""").show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

Write a query that shows just the n and abool columns from the dataframe.

In [56]:
spark.sql("""
SELECT n
FROM my_df
""").show(7)

+--------------------+
|                   n|
+--------------------+
|  -0.712390662050588|
|   0.753766378659703|
|-0.04450307833805...|
| 0.45181233874578974|
|  1.3451017084510097|
|  0.5323378882945463|
|  1.3501878997225267|
+--------------------+
only showing top 7 rows

Write a query that shows just the n and group columns. Rename the group column to g.

In [58]:
spark.sql("""
SELECT n, group AS g
FROM my_df
""").show(7)

+--------------------+---+
|                   n|  g|
+--------------------+---+
|  -0.712390662050588|  z|
|   0.753766378659703|  x|
|-0.04450307833805...|  z|
| 0.45181233874578974|  y|
|  1.3451017084510097|  z|
|  0.5323378882945463|  y|
|  1.3501878997225267|  z|
+--------------------+---+
only showing top 7 rows

Write a query that selects n, and creates two new columns: n2, the original n values halved, and n3: the original n values minus 1.

In [59]:
spark.sql("""
SELECT n, (n/2) AS n2, (n-1) AS n3
FROM my_df
""").show(7)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|  -0.356195331025294|  -1.712390662050588|
|   0.753766378659703|  0.3768831893298515|-0.24623362134029703|
|-0.04450307833805...|-0.02225153916902...| -1.0445030783380536|
| 0.45181233874578974| 0.22590616937289487| -0.5481876612542103|
|  1.3451017084510097|  0.6725508542255049| 0.34510170845100974|
|  0.5323378882945463| 0.26616894414727316| -0.4676621117054537|
|  1.3501878997225267|  0.6750939498612634| 0.35018789972252673|
+--------------------+--------------------+--------------------+
only showing top 7 rows

What happens if you make a SQL syntax error in your query?

In [60]:
spark.sql("""
SELECT n, (n/2) IS n2, (n-1) AS n3
FROM my_df
""").show(7)

ParseException: "\nmismatched input 'n2' expecting <EOF>(line 2, pos 19)\n\n== SQL ==\n\nSELECT n, (n/2) IS n2, (n-1) AS n3\n-------------------^^^\nFROM my_df\n"

I get a Java Error but it specifies the particular SQL error that I got

## Type casting

- Use the starter code above to re-create a spark dataframe.
- Use .printSchema to view the datatypes in your dataframe.
- Use .dtypes to view the datatypes in your dataframe.
- What is the difference between the two code samples below?

`df.abool.cast('int')`  

`df.select(df.abool.cast('int')).show()`

- Use .select and .cast to convert the abool column to an integer type. View the results.
- Convert the group column to a integer data type and view the results. What happens?
- Convert the n column to a integer data type and view the results. What happens?
- Convert the abool column to a string data type and view the results. What happens?

In [61]:
df = generate_spark_df()

In [66]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

In [68]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

Use .select and .cast to convert the abool column to an integer type. View the results.

In [78]:
df.select(df.abool.cast("long")).show(1)

+-----+
|abool|
+-----+
|    0|
+-----+
only showing top 1 row

In [79]:
df.select(df.abool.cast("long")).dtypes #check if dtype has changed to integer

[('abool', 'bigint')]

Convert the group column to a integer data type and view the results. What happens?

In [83]:
df.select(df.group.cast("long")).dtypes

[('group', 'bigint')]

In [84]:
df.select(df.group.cast("long")).show(10)

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+
only showing top 10 rows

A string data type will be converted to a numeric data type in the form of null.

Convert the abool column to a string data type and view the results. What happens?

In [88]:
df.select(df.abool.cast("string")).dtypes

[('abool', 'string')]

In [89]:
df.select(df.abool.cast("string")).show(5)

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
+-----+
only showing top 5 rows

From numeric boolean 0/1, the values were converted to string boolean false/true.

## Built-in Functions

- Use the starter code above to re-create a spark dataframe.
- Import the necessary functions from pyspark.sql.functions
- Find the highest n value.
- Find the lowest n value.
- Find the average n value.
- Use concat to change the group column to say, e.g. "Group: x" or "Group: y"
- Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [90]:
df = generate_spark_df()

In [91]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [103]:
from pyspark.sql.functions import min, max, avg, concat, lit

Find the highest n value.  
Find the lowest n value.  
Find the average n value.

In [98]:
df.select(max("n")).show(1)
df.select(min("n")).show(1)
df.select(avg("n")).show(1)

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

+-------------------+
|             avg(n)|
+-------------------+
|0.36640264498852165|
+-------------------+

Use concat to change the group column to say, e.g. "Group: x" or "Group: y"

In [106]:
df.select((concat(lit("Group: "),df.group)).alias("name_group")).show(5)

+----------+
|name_group|
+----------+
|  Group: z|
|  Group: x|
|  Group: z|
|  Group: y|
|  Group: z|
+----------+
only showing top 5 rows

Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [109]:
df.select((concat(df.group,lit(": "),df.n)).alias("group_with_n")).show(5)

+--------------------+
|        group_with_n|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
+--------------------+
only showing top 5 rows

## Filter / Where

- Use the starter code above to re-create a spark dataframe.
- Use .filter or .where to select just the rows where the group is y and view the results.
- Select just the columns where the abool column is false and view the results.
- Find the columns where the group column is not y.
- Find the columns where n is positive.
- Find the columns where abool is true and the group column is z.
- Find the columns where abool is true or the group column is z.
- Find the columns where abool is false and n is less than 1
- Find the columns where abool is false or n is less than 1

In [110]:
df = generate_spark_df()

Use .filter or .where to select just the rows where the group is y and view the results.

In [112]:
df.select("*").where(df.group == "y").show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|0.45181233874578974|    y|false|
| 0.5323378882945463|    y|false|
|-1.0453771305385342|    y| true|
| -1.261605945319069|    y|false|
| 0.5628467852810314|    y| true|
+-------------------+-----+-----+
only showing top 5 rows

Select just the columns where the abool column is false and view the results.

In [116]:
df.select("*").where(df.abool == False).show(10)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
+--------------------+-----+-----+
only showing top 10 rows

Find the columns where the group column is not y.

In [121]:
df.select("*").filter(df.group != "y").show(10)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
+--------------------+-----+-----+
only showing top 10 rows

Find the columns where n is positive.

In [123]:
df.select("*").where(df.n > 0).show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  0.753766378659703|    x|false|
|0.45181233874578974|    y|false|
| 1.3451017084510097|    z|false|
| 0.5323378882945463|    y|false|
| 1.3501878997225267|    z|false|
+-------------------+-----+-----+
only showing top 5 rows

Find the columns where abool is true and the group column is z.

In [125]:
df.select("*").where(df.abool == True AND df.group == "z").show(5)

SyntaxError: invalid syntax (<ipython-input-125-b38737d2a688>, line 1)