Use pydataset to load the voteincome dataset.

```python
from pydataset import data
data('voteincome', show_doc=True)
data('voteincome')```

Drop the `state` and `year` columns.
  
Split the data into train and test datasets. We will be predicting whether or not someone votes based on the the remaining features.
  
Fit a k-neighbors classifier on the training data. Use 4 for your number of neighbors. How accurate is your model? How does it perform on the test data?

Try our these values for k: 1, 2, 3, and 4. Which gives the best accuracy? Which gives the best accuracy on the test data set?

View the classification report for your best model.
```python
from sklearn.metrics import classifciation_report
print(classification_report(y, predictions))```
  
Within our problem space, what does accuracy mean? Precision? Recall?

In [55]:
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
import pandas as pd
from pydataset import data
data("voteincome", show_doc=True)

voteincome

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Sample Turnout and Demographic Data from the 2000 Current Population Survey

### Description

This data set contains turnout and demographic data from a sample of
respondents to the 2000 Current Population Survey (CPS). The states
represented are South Carolina and Arkansas. The data represent only a sample
and results from this example should not be used in publication.

### Usage

    data(voteincome)

### Format

A data frame containing 7 variables ("state", "year", "vote", "income",
"education", "age", "female") and 1500 observations.

`state`

a factor variable with levels equal to "AR" (Arkansas) and "SC" (South
Carolina)

`year`

an integer vector

`vote`

an integer vector taking on values "1" (Voted) and "0" (Did Not Vote)

`income`

an integer vector ranging from "4" (Less than \$5000) to "17" (Greater than
\$75000) denoting family income. See the CPS codebook for more information on
variable coding

`education`

an integer vector ranging from "1" (Less than High School Education) to "4"
(More than a College Education). See the CPS codebook for more information on
variable coding

`age`

an integer vector ranging from "18" to "85"

`female`

an integer vector taking on values "1" (Female) and "0" (Male)

### Source

Census Bureau Current Population Survey

### References

http://www.census.gov/cps

In [7]:
df = data("voteincome")

In [9]:
df = df.drop(columns=["state","year"])

In [14]:
df.head()

   vote  income  education  age  female
1     1       9          2   73       0
2     1      11          2   24       0
3     0      12          2   24       1
4     1      16          4   40       0
5     1      10          4   85       1

In [54]:
plt.figure(figsize=(12,4))
sns.barplot(x="income",y="vote", hue="female",data=df)

NameError: name 'plt' is not defined

In [16]:
X = df[["income","education","age","female"]]
y = df.vote

Split the data into train and test datasets. We will be predicting whether or not someone votes based on the the remaining features.

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2)

Fit a k-neighbors classifier on the training data. Use 4 for your number of neighbors. How accurate is your model? How does it perform on the test data?

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
knn = KNeighborsClassifier(n_neighbors=4)
yhat = knn.fit(X_train,y_train)
yhat = yhat.predict(X_train)

In [38]:
predictions = pd.DataFrame(data = y_train)
predictions["predicted"] = yhat
predictions.columns = ["actual","predicted"]

In [39]:
predictions

      actual  predicted
1088       1          1
107        0          0
687        0          0
1463       0          0
1267       1          1
1399       1          1
407        1          1
1178       1          0
838        1          1
931        0          0
1323       1          1
728        0          0
1079       1          1
1435       1          1
1152       1          1
1418       1          1
275        1          1
622        1          0
810        1          1
1000       1          1
719        1          1
1195       1          1
1270       1          1
803        1          0
649        1          1
1023       1          1
793        1          1
70         0          0
1098       1          1
1398       1          0
1388       0          0
1312       1          1
1470       1          1
375        1          1
1145       1          0
1160       1          1
921        1          1
198        1          1
177        1          1
393        1          1
980        1          1
461        1          1
955        1          1
19         1          1
4          1          1
1216       1          1
897        1          1
845        1          1
187        1          1
28         1          1
1251       0          0
717        1          1
1135       1          1
1499       0          0
366        1          1
58         1          1
191        1          1
874        1          1
129        1          1
972        1          1
1332       1          1
685        0          0
668        1          1
757        1          1
1229       1          1
1191       1          1
768        1          1
1329       1          1
59         1          1
881        1          1
1097       1          1
234        0          0
1273       1          1
213        1          0
631        1          1
37         1          1
27         1          1
1426       1          0
777        0          0
679        1          0
739        1          1
844        1          1
476        1          1
1361       1          1
424        1          1
...      ...        ...
1275       1          1
1390       1          1
89         1          1
509        1          1
942        1          1
1448       1          1
13         1          0
1095       1          1
64         1          0
674        1          1
50         1          1
324        1          1
76         1          1
185        1          0
1219       1          1
33         1          1
911        1          1
409        0          1
1111       1          1
1369       1          1
1330       1          1
541        0          0
976        1          1
851        1          1
873        0          0
1039       1          1
425        1          1
834        1          1
63         1          1
1461       1          1
513        1          1
1102       0          0
109        1          1
102        0          0
1044       1          1
1276       1          1
1133       0          0
22         1          1
211        1          1
1235       1          1
455        0          0
582        1          1
1396       1          1
702        1          1
535        1          1
1417       1          1
204        1          1
201        1          1
787        1          1
115        1          1
154        1          1
1339       1          1
693        1          1
782        1          1
1239       1          1
47         1          1
1215       1          1
449        1          0
1049       1          1
1019       1          1
1380       1          1
852        1          1
860        1          1
816        1          1
1238       1          1
168        1          1
748        1          1
682        1          1
290        1          1
884        0          1
609        1          1
189        1          0
775        1          1
475        1          1
429        1          0
306        1          1
376        1          1
1421       1          1
1295       1          1
1203       1          1
1041       0          0
982        1          0
173        1          1
726        1          1
896        1          1

[1200 rows x 2 columns]

In [43]:
from sklearn.metrics import classification_report

In [44]:
print(classification_report(predictions.actual, predictions.predicted))

              precision    recall  f1-score   support

           0       0.56      0.72      0.63       179
           1       0.95      0.90      0.92      1021

    accuracy                           0.87      1200
   macro avg       0.75      0.81      0.78      1200
weighted avg       0.89      0.87      0.88      1200

**What our metrics mean**
- 87% Accurate = Our model can correctly predict 87% of people who will vote with the given features.
- 89% Precision = 89% of the people whom we predicted to vote will actually vote.
- 87% Recall = Out of all our predictions, we correctly predicted 87% of people who will vote.

In [56]:
from sklearn import __version__
__version__

'0.21.2'